<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ACCI_Cricket.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A16D2931F470CEF008C65F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A16D2AA1F470CF0008C65F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A16D2B51F470CF0008C65F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
